div{
  box-sizing: border-box;
}
#main{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
  }
.column {
  margin-top: 20px;
  padding: 30px 10px 10px 10px;
  position: relative;
  border: 3px solid black;
  background-color: #999999;
    font-family: Tahoma;
}
h1 {
  text-align: center;
}
.menuheader{
  border: 3px solid black;
  margin: 0px;
  padding: 2px;
  position: absolute;
  text-align: center;
  top:-3px;
  right:-3px;
  font-weight: bold;
}
#first>div{
  background-color: #D49899;
}
#second>div{
  background-color: #BF4646;
  color: white;
}
#third>div{
  background-color: #E4D09B;
}
@media screen and (max-width:767px){
  .menuheader{
    width:30%;
  }
}
@media screen and (min-width:768px) and (max-width:991px){
  .column {
    width:46%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
  }
  .menuheader{
    width:30%;
  }
  #third {
    width: 96%;
  }
  #third > div {
    width: 15%;
  }
}
@media screen and (min-width:992px){
  #main {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .column {
    width:31.33%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }
  .menuheader{
    width:30%;
  }
}
